/* Media Query Section */

@media screen and (max-width: 730px) {
  .contacts-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
  }

  .contacts-page {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    flex: 1;
  }
  .contacts-page h1 {
    text-align: center;
    font-size: 25px;
  }
  .contacts-page p {
    text-align: justify;
    font-size: 16px;
    width: 90%;
    padding: 0 24px;
    margin: 10px;
    color: chocolate;
  }
}
