.side-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bar-container {
  position: relative;
  width: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bar-item a {
  text-decoration: none;
  color: #fff;
}
.side-bar-item a:hover {
  color: #cba35c;
}
/* Material UI Icons */
.menu {
  position: absolute;
  top: 40px;
  right: 0;
  padding-left: 10px;
  z-index: 10;
}
.menu-icon > .MuiSvgIcon-root {
  color: #cba35c;
  font-size: 2.5rem;
  margin-right: 20px;
}
.menu-icon > .MuiSvgIcon-root:hover {
  cursor: pointer;
  color: #cba35c;
}

.side-bar-close-icon > .MuiSvgIcon-root {
  position: absolute;
  top: 260px;
  right: 180px;
  margin-right: 15px;
  font-size: 2.5rem;
  color: #fff;
}
.side-bar-close-icon > .MuiSvgIcon-root:hover {
  cursor: pointer;
  color: #cba35c;
}

/* Media Query Section */
@media screen and (min-width: 730px) {
  .menu-icon {
    display: none;
  }
  .side-bar .side-bar-container {
    display: none;
  }
  .side-bar .menu-icon {
    display: none;
  }
}
@media screen and (max-width: 730px) {
  .nav-menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .side-bar .side-bar-container {
    position: relative;
  }
  .side-bar-items {
    transition: 850ms;
  }
  .side-bar-items.active {
    top: 0;
    left: 0;
    transition: 450ms;
  }

  .side-bar .side-bar-container .side-bar-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 362px;
    background-color: #111;
    color: #fff;
    z-index: 10;
  }
  .side-bar .side-bar-items .side-bar-item {
    margin-left: 0 auto;
    padding: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 1.3rem;
    list-style: none;
  }
  .side-bar .side-bar-items .side-bar-item:hover {
    color: #cba35c;
    cursor: pointer;
  }
}

@media screen and (max-width: 369px) {
  .side-bar .side-bar-container .side-bar-items {
    max-width: 500px;
  }
}
