/* Global reset */
html {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  background-color: #fefefe;
  max-width: 100%;
  overflow-x: hidden;
}

/* Global reset */

.home-page,
.about-page,
.contacts-page,
.services-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
